body {
    height: 2278px;
}

footer {
    left: 0px;
    top: 1718px;
}

/* редактирование author-header */

.author-header {
    position: absolute;
    width: 1440px;
    height: 550px;
    left: 0px;
    top: 80px;
    background: #F4F0F8;
}

.author-header img[alt="author-men"] {
    position: absolute;
    top: 128px;
    left: 208px;
}

.author-header-heading {
    position: absolute;
    width: 669px;
    height: 236px;
    right: 280px;
    top: 130px;
}

.author-header-heading h1 {
    margin-bottom: 24px;
}

.author-header .social-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 112px;
    height: 16px;
    right: 837px;
    bottom: 144px;
}

.author-header .pattern {
    width: 1024px;
    height: 24px;
    position: absolute;
    left: 208px;
    bottom: 0;
    display: flex;
}

/* редактирование my-blog */

.my-blog {
    position: absolute;
    width: 1024px;
    height: 832px;
    left: 208px;
    top: 758px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.my-blog h1 {
    margin: 0;
    padding: 0;
}

.item-blog {
    width: 1024px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-blog-content {
    width: 580px;
    height: 208px;
}

.item-blog-content .size-16-20 {
    letter-spacing: 3px;
    text-transform: uppercase;
}