* {
    margin: 0;
    padding: 0;
}

body {
    height: 4346px;
}

/* редактирование blog-inner-header */

.blog-inner-header {
    position: absolute;
    width: 768px;
    height: 282px;
    left: 336px;
    top: 208px;
}

.name-and-info {
    width: 288px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.name-and-info-container {
    width: 224px;
    height: 64px;
}

.name-and-info img {
    margin-top: 5px;
}

.blog-inner-header h1 {
    margin-bottom: 34px;
}

/* редактирование blog-body-content */

img[alt="photo-of-woman"] {
    position: absolute;
    width: 1280px;
    height: 582px;
    left: 80px;
    top: 554px;
}

.blog-body-content {
    position: absolute;
    width: 843px;
    height: 1164px;
    left: 299px;
    top: 1200px;
}

.size-24-32 {
    margin-left: 17px;
    color: rgba(22, 23, 34, 0.78);
}

.margin-bottom-16px {
    margin-bottom: 16px;
}

.margin-bottom-24px {
    margin-bottom: 24px;
}

.margin-bottom-48px {
    margin-bottom: 48px;
}

/* редактирование other-posts */

.other-posts {
    position: absolute;
    width: 1280px;
    height: 782px;
    left: 80px;
    top: 2492px;
    border-bottom: 1px solid #6D6E76;
}

.other-posts h2 {
    margin-bottom: 64px;
}

.item-container {
    width: 1280px;
    height: 606px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-other-post {
    width: 405px;
    height: 606px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post p {
    margin: 0;
    padding: 0;
}

.post h3 {
    margin: 16px 0;
}

/* редактирование join-our-team */

.join-our-team {
    left: 505px;
    top: 3402px;
}


/* редактирование footer*/

footer {
    position: absolute;
    left: 0px;
    top: 3786px;
}