.font-sen-700 {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.font-inter-400 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.font-inter-500 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.font-inter-600 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.font-inter-900 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
}