.font-sen-700 {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.font-inter-400 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.font-inter-500 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}