* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1440px;
    height: 5996px;
    background: #FFFFFF;
    border: 0.1px solid red;
}

/* Начало редактирования header*/

header {
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #232536;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar img {
    margin-right: 621px;
}

.links-list ul {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 32px;
}

.links-list li {
    list-style: none;
    font-size: 16px;
    line-height: 28px;
}

.navbar-button {
    width: 179px;
    height: 56px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button p {
    font-size: 18px;
    line-height: 24px;
    color: #232536;
}

/* Начало редактирования home*/

.home {
    position: absolute;
    width: 1440px;
    height: 720px;
    right: 0px;
    top: 80px;
}

.home img {
    background-image: url(img-for-home/men.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-info-container {
    position: absolute;
    width: 804px;
    height: 400px;
    left: 80px;
    top: 128px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.home .navbar-button, .post-wrapper .navbar-button{
    background: #FFD050;
}

.home-info-container .posted-on-startup {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.home-info-container h1 {
    width: 803px;
    height: 128px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 24px;
}

.home-info-container .James-West span {
    color: #FFD050;
}

.home-info-container .James-West {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
}

.home-info-container .size-16-28 {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 48px;
}

/* Начало редактирования Featured Posts */

.featured-posts {
    position: absolute;
    width: 1282px;
    height: 804px;
    left: 80px;
    top: 928px;
    display: flex;
    justify-content: space-between;
}

.featured-post {
    width: 733px;
    height: 804px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-post h2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.post-wrapper {
    width: 733px;
    height: 724px;
    border: 1px solid rgba(109, 110, 118, 0.1);
    display: flex;
    flex-direction: column;
}

.size-14-20 {
    font-size: 14px;
    line-height: 20px;
}

.post-wrapper .size-14-20 {
    color: #4C4C4C;
    margin: 0 auto 16px 32px;
}

.post-wrapper img {
    margin: 32px;
}

.post-wrapper h3 {
    margin: 0 32px 16px 32px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.size-16-28 {
    font-size: 16px;
    line-height: 28px;
}

.post-wrapper .size-16-28 {
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin: 0 auto 32px 32px;
}

.post-wrapper .navbar-button {
    margin: 0 auto 32px 32px;
}

.post-wrapper span {
    color: #592EA9;
}

.all-posts {
    width: 517px;
    height: 804px;
}

.heading-and-view-all {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.purple-color {
    color: #592EA9;
}

.black-color {
    color: #232536;
}

.size-36-48 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
}

.item-container {
    display: flex;
    flex-direction: column;
}

.item {
    width: auto;
    height: 181px;
}

.item:hover {
    cursor: pointer;
    background-color: #FBF6EA;
}

.item p {
    margin: 32px 286px 8px 32px;
}

.item h4 {
    margin: 0 116px 25px 32px;
}

.size-24-32 {
    font-size: 24px;
    line-height: 32px;
}

/* Начало редактирования about-us-and-our-mission*/

.about-us-and-our-mission {
    position: absolute;
    width: 1280px;
    height: 523px;
    left: 80px;
    top: 1860px;
}

.about-us-and-our-mission .pattern {
    width: 1280px;
    height: 23px;
    display: flex;
}

.pattern .purple-color{
    width: 282px;
    height: 23px;
    background-color: #592EA9;
}

.pattern .white-color {
    width: 282px;
    height: 23px;
    background-color: #FFFFFF;
}

.pattern .yellow-color {
    width: 716px;
    height: 23px;
    background-color: #FFD050;
}

.about-us-and-our-mission .background {
    background-color: #F4F0F8;
    width: 1280px;
    height: 500px;
}

.medium-gray-color {
    color: #6D6E76;
}

.background .about-us {
    position: absolute;
    width: 515px;
    height: 308px;
    top: 96px;
    left: 80px;
}

.size-16-20 {
    font-size: 16px;
    line-height: 20px;
}

.about-us .font-inter-600, .our-mission .font-inter-600 {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-us h2 {
    width: 494px;
    height: 144px;
    margin-bottom: 16px;
}
.size-18-32 {
    font-size: 18px;
    line-height: 32px;
    margin-top: 16px;
}

.our-mission {
    position: absolute;
    width: 516px;
    height: auto;
    right: 108px;
    top: 98px;
}

.size-28-40 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
}

.our-mission h3 {
    width: 481px;
    height: 80px;
    letter-spacing: -1px;
    margin-bottom: 16px;
}

/* Начало редактирования Choose a catagory*/

.choose-a-catagory {
    position: absolute;
    width: 1280px;
    height: 324px;
    left: 80px;
    top: 2511px;
}

.choose-a-catagory h2 {
    text-align: center;
    margin-bottom: 48px;
}

.categories-container {
    width: 1280px;
    height: 228px;
    display: flex;
    justify-content: space-between;
}

.categories-container img {
    background-color: #FBF6EA;
    margin-bottom: 16px;
}

.categories-container h3 {
    margin-bottom: 4px;
}

img[alt="Icon2.svg"] {
    padding: 12px;
}

.categories-item {
    box-sizing: border-box;
    padding: 32px;
    width: 296px;
    height: 228px;
    border: 1px solid rgba(109, 110, 118, 0.3);
}

.categories-item:hover {
    cursor: pointer;
    background-color: #FFD050;
}

/* Начало редактирования Special post*/

.special-post {
    position: absolute;
    width: 1280px;
    height: 705px;
    left: 80px;
    top: 2963px;
}

.special-post-content {
    box-sizing: border-box;
    padding: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 706px;
    height: 584px;
    background-color: #FFFFFF;
    z-index: 1;
}

.special-post-content .size-16-20 {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
    margin-bottom: 24px;
}

.size-48-64 {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 16px;
}

.special-post-content .size-16-28 {
    margin-bottom: 32px;
}

.special-post-content .navbar-button {
    background-color: #FFD050;
    width: 269px;
    height: 56px;
}

/* Начало редактирования List of authors*/

.list-of-authors {
    position: absolute;
    width: 1280px;
    height: 420px;
    left: 80px;
    top: 3796px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-of-authors h2 {
    text-align: center;
}

.list-of-authors .item-container {
    width: 1280px;
    height: 324px;
}

.author-item {
    width: 296px;
    height: 324px;
    background: #F4F4F4;
    box-sizing: border-box;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-item .social-wrapper {
    display: flex;
    justify-content: space-between;
    width: 112px;
    height: 16px;
}

.author-item img, .author-item p {
    margin-bottom: 20px;
}